django<3
celery[redis]
django-model-utils
django-webpack-loader
django-js-reverse
django-import-export
python-decouple
brotlipy
django-log-request-id
dj-database-url
gunicorn
whitenoise
psutil
ipython
sentry-sdk
amqp
anyjson
astroid
billiard
Cerberus
certifi
chardet
colorama
django-appconf
django-celery-email
django-cors-headers
django-rest-auth
djangorestframework
idna
importlib-metadata
isort
kombu
lazy-object-proxy
Markdown
mccabe
more-itertools
Pillow
pylint
python-decouple
pytz
qrcode
raven
redis
requests
serpy
six
stripe
typed-ast
Unidecode
urllib3
vine
wrapt
zipp
celery
redis
flower
psycopg2-binary
