<div class="container">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row p-3">
    <div class="col-6">
      <h5 class="title">Detalles de la causa</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: <b>{{causes.name}}</b></li>
        <li class="list-group-item">Total a recaudar: <b>{{causes.total | currency}}</b></li>
        <li class="list-group-item">Total acumulado: <b>{{causes.acumulado | currency}}</b></li>
        <li class="list-group-item">Total restante: <b>{{causes.rest | currency}}</b></li>
        <li class="list-group-item">Progreso:

          <progressbar [max]="causes.total" [animate]="true" [value]="causes.acumulado" type="success" style="height: 1rem;
                                  margin-top: 0.3rem;">
            <b style="color: black;">{{causes.porcentage}}%</b>
          </progressbar>
        </li>
      </ul>
    </div>
    <hr>
    <div class="col-6">
      <h5 class="title">Realiza una donación a esta causa</h5>
      <form>
        <label class="title w-100 pb-3 mt-3"><b>Datos de su tarjeta</b></label>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Número de tarjeta</label>
            <input type="text" class="form-control form-control-alternative form-control-sm" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity">Vencimiento</label>
            <input class="form-control form-control-alternative datepicker form-control-sm" placeholder="24/08/1990"
              type="text" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" />
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">CVC</label>
            <input type="text" class="form-control form-control-alternative form-control-sm" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Monto a donar</label>

          <input type="number" [(ngModel)]="monto" name="amount"
            class="form-control form-control-alternative form-control-sm" id="formGroupExampleInput"
            placeholder="Monto">
        </div>
        <button class="btn btn-success btn-lg btn-block" (click)="donar()">Donar</button>
      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="title">Últimas donaciones a esta causa</h5>
      <span *ngFor="let item of donations | slice:0:5"
        style="display: flex;flex-flow: row;align-items: baseline;justify-content: left;margin: 1.5rem;">
        <div class="icon icon-sm icon-shape bg-gradient-pink shadow rounded-circle">
          <i class="fa fa-heart " style="color: #dc3545 !important;"></i>
        </div>
        <p
          style="display: flex;flex-direction: column;justify-content: space-between;align-items: baseline; margin-left: 5px;">
          <b>{{item.user.first_name}} {{item.user.last_name}}</b>
          <small>Donó {{item.amount | currency}}</small>
          <!-- <small style="font-style: italic;"><b>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero maxime
              est provident expedita
              praesentium."</b></small> -->
        </p>
      </span>

    </div>
  </div>

</div>
