@import "../../../assets/scss/reviews";

.section-shaped .shape-style-1.shape-primary {
  background: linear-gradient(150deg,
      #cf3a9e 15%,
      #ff6240 70%,
      #fbaa4f 94%) !important;
}

.section-shaped .shape {
  position: fixed !important;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.about-font {
  font-weight: 600 !important;
  font-variant: petite-caps;
}

.separator-bottom {
  top: auto;
  bottom: 0;
  z-index: 0 !important;
}

@media (min-width: 768px) and (max-width: 1000px) {

  .mt-md-7,
  .my-md-7 {
    margin-top: 5rem !important;
  }
}

@media (max-width: 575.98px) {
  .profile-page .card-profile .card-profile-actions {
    margin-top: 125px;
  }
}

.imageU {
  border-radius: 50% !important;
  width: 180px !important;
  max-width: 180px !important;
  height: 180px !important;
  object-fit: cover !important;
}

.drag-scroll {
  height: 50px;
  width: 100px
}

.demo-one {
  width: 100%;
}

.demo-one img {
  height: 4rem;
  width: 4rem;
  margin: 0;
  border-radius: 50%;

  .drag-scroll-wrapper {
    height: 100%;
  }
}

.btn-arrow {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: small;
  background: #3333338c;
  ;
  border: none;
  color: white;
  font-weight: 700;
  line-height: 2;
  width: 2.5rem;

}

.end {
  display: flex;
  justify-content: flex-end;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.align {
  display: flex;
  align-items: center;
  padding: 0 !important;
}

.btn-arrow:focus {
  outline: ridge;
  outline-color: #0c0c0c21;
}

.span-cua {
  width: 100%;
  height: 12rem;
  border: 0 !important;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn-float {
  float: right;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #e64d72;
  border-color: azure;
  color: white;
  font-size: 2rem;
  line-height: 2;
}

img:focus {
  outline: 1px dotted;
  outline: transparent;
}



img {
  width: 100%;
  /* need to overwrite inline dimensions */
  height: auto;
}

h2 {
  margin-bottom: .5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.location-listing {
  position: relative;
  box-shadow: 1px 1px 7px #808080e0;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: #0a0b0cc7;
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }

  .location-image img {
    filter: blur(2px);
  }
}
