<app-searchbar class="w-100"></app-searchbar>

<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <!-- <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12 col-sm-12 order-md-1 order-xs-1 order-sm-1 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img [src]="imgDef" *ngIf="imageUrl === null" class="rounded-circle">
                  <img [src]="imageUrl" class="imageU" *ngIf="imageUrl !== null">
                </a>
              </div>
            </div>
            <div
              class="col-lg-4 order-lg-3 order-md-3 order-sm-3 order-xs-3 text-lg-right align-self-lg-center col-md-12 col-sm-12 ">
              <div class="card-profile-actions d-flex justify-content-center mt-xs-4">
                <a [routerLink]="['/new-homeless']" class="btn btn-sm btn-info " *ngIf="profile">Register new
                  homeless</a>
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-default ">Message</a> -->
                <a [routerLink]="['/food-run']" class="btn btn-sm btn-success" *ngIf="profile">Add food run</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1 order-md-2 order-sm-2 order-xs-2 col-md-12 col-sm-12 mt-md-7 mt-lg-0">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Donations</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Volunteer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{user.first_name}} {{user.last_name}}
            </h3>
            <a [routerLink]="['/edit-profile']" class="btn btn-sm btn-warning " *ngIf="profile">Edit profile</a>
            <ng-container *ngIf="profile">
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{profile.phone}}</div>
              <div class="h6 font-weight-300" *ngIf="profile.show_email === true"><i
                  class="ni location_pin mr-2"></i>{{user.email}}</div>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{profile.country}} - {{profile.city}}
              </div>
              <div class="h6 about-font"><i class="ni location_pin mr-2"></i>{{profile.aboutYou}}</div>
              <h5 *ngIf="userHomeless === null" style="padding: 1rem;
              font-variant: all-small-caps;">Ud no tiene ningún homeless registrado</h5>
              <div class="row align" *ngIf="userHomeless !== null">
                <div class="col-2 end">
                  <button (click)="moveLeft()" class="btn-arrow"><i class="fa fa-arrow-left"></i></button>
                </div>
                <div class="col-8 mt-3 mb-3" style="display: flex;
                justify-content: space-around;">

                  <drag-scroll id="dragProfile" *ngFor="let item of dataHom" class="demo-one"
                    drag-scroll-y-disabled="true" scrollbar-hidden="true" (dsInitialized)="onDragScrollInitialized()"
                    (indexChanged)="onIndexChanged($event)" (reachesLeftBound)="leftBoundStat($event)"
                    (reachesRightBound)="rightBoundStat($event)" (snapAnimationFinished)="onSnapAnimationFinished()"
                    (dragStart)="onDragStart()" (dragEnd)="onDragEnd()" #nav>
                    <img id="imageHom" style="border: 2px solid lightgray;cursor: pointer;"
                      routerLink="/homeless-profile/{{item.id}}" drag-scroll-item src="{{item.photo}}" />

                    <p style="line-height: 0.7;
                      font-size: small;
                      font-weight: 800;
                      margin-bottom: 0 !important;
                      margin-top: 5px;">{{item.name | slice:0:12}}</p>

                  </drag-scroll>
                </div>
                <div class="col-2 start">
                  <button (click)="moveRight()" class="btn-arrow"><i class="fa fa-arrow-right"></i></button>
                </div>
              </div>
            </ng-container>
            <div *ngIf="!profile">
              <a [routerLink]="['/edit-profile']" class="btn btn-lg btn-warning mb-2">Complete profile</a>
            </div>
          </div>
          <div class="text-center">
            <div class="row justify-content-center">
              <section class="pb-5">
                <div class="container">
                  <div class="row">
                    <h5 class="w-100"><i class="ni ni-album-2"></i> Publicaciones</h5>
                  </div>
                  <!-- <div *ngFor="let item of feedData" class="col-md-3 col-lg-3" style="display: flex;
justify-content: center;
align-items: center;margin:0.5em">
  <span style="">

    <div class="span-cua ih-item square effect13 bottom_to_top" style="widht:100%;box-shadow: 1px 1px 7px #808080e0;
  "><a>
        <div class="img" style="display: contents;"><img src="{{environmentHomeless}}{{item.image}}"
            alt="img" (click)="openModalWithComponent(item)"></div>
        <div class="info" (click)="openModalWithComponent(item)">
          <h3 style="display: flex;
            justify-content: center; background-color: transparent;">
            <p style="font-size: large; font-weight: 700;"><i class="ni ni-chat-round"></i>
              {{item.total_comments}}</p>
            <p style="font-size: large; font-weight: 700;"><i class="ni ni-favourite-28"></i>
              {{item.total_likes}}</p>
          </h3>

        </div>
      </a></div>
  </span>
</div> -->
                  <div class="row" style="justify-content: center;">

                    <div class="grid-container">

                      <article *ngFor="let item of feedData" id="3685" class="location-listing">

                        <a class=" location-title" (click)="openModalWithComponent(item)">
                          <h3 style="display: flex;
                            justify-content: space-evenly;
                            background-color: transparent;
                            width: 100%;
                            color: white;">
                            <p style="font-size: large; font-weight: 700;"><i class="ni ni-chat-round"></i>
                              {{item.total_comments}}</p>
                            <p style="font-size: large; font-weight: 700;"><i class="ni ni-favourite-28"></i>
                              {{item.total_likes}}</p>
                          </h3>
                        </a>

                        <div class="location-image">
                          <a href="#">
                            <img width="300" height="169" src="{{environmentHomeless}}{{item.image}}"
                              alt="san francisco"></a>

                        </div>

                      </article>



                    </div>
                    <!-- end grid container -->
                  </div>

                  <!-- <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let homeless of userHomeless" >
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                            <div class="frontside">
                              <div class="card">
                                <div class="card-body text-center">
                                  <p><img class=" img-fluid"
                                      src="https://images.unsplash.com/photo-1509059852496-f3822ae057bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1112&q=80"
                                      alt="card image"></p>
                                  <h4 class="card-title">{{homeless.firstName}} {{homeless.lastName}}</h4>
                                  <p class="card-text">{{homeless.occupation}}</p>
                                  <p class="card-text">{{homeless.phone}}</p>
                                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="backside">
                              <div class="card">
                                <div class="card-body text-center mt-4">
                                  <h4 class="card-title">{{homeless.firstName}} {{homeless.lastName}}</h4>
                                  <p class="card-text">{{homeless.aboutYou}}</p>
                                  <div>
                                    <a routerLink="/homeless-profile/{{homeless.id}}" class="btn btn-sm btn-warning">Ver profile</a>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->

                </div>
              </section>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <button (click)="openModal2()" class="btn-float">
    <i class="ni ni-fat-add"></i>
  </button>
</main>
