<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-shaped">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-sm" style="
      padding-top: 1rem !important;
      margin-top: 2rem;
      background: #ffffff;border-radius: calc(0.25rem - 0.0625rem) calc(0.25rem - 0.0625rem) 0 0;
      ">
        <div class="col-lg-12">

          <h5 style="text-align: center;
        font-variant-caps: all-small-caps;
        font-size: 1.5rem;">Nuestro voluntariado</h5>
          <div class="row row-grid justify-content-center align-items-center">
            <div class="col-12">
              <drag-scroll #nav drag-scroll-y-disabled="true" [scrollbar-hidden]="true">
                <img class="imgCover" drag-scroll-item [src]="item.img" *ngFor="let item of slides" />

              </drag-scroll>
            </div>

          </div>
          <div class="row mt-3">
            <div class="col-12  align-items-center">
              <button class="btn btn-sm float-right btn-success" (click)="moveLeft()">Quiero ser un voluntario</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container py-md" style="background: #ffffff;
      padding: 1rem;border-radius: calc(0.25rem - 0.0625rem) calc(0.25rem - 0.0625rem) 0 0;">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-8">
            <img
              src="https://images.unsplash.com/photo-1541802645635-11f2286a7482?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
              alt="" style="max-width: 100%;
              min-width: 100%;object-fit: cover;margin-bottom: 1rem;">
            <section class="present">
              <div class="icon icon-sm icon-shape bg-gradient-pink shadow rounded-circle">
                <i class="fa fa-heart " style="color: #dc3545 !important;"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt sit provident.</p>
            </section>
            <hr>
            <section class="p-2">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptate reiciendis tenetur
                accusamus laboriosam quam soluta ipsum veniam qui nisi,
                numquam eveniet perspiciatis doloribus? Pariatur eligendi iure libero ex deserunt. Lorem ipsum dolor
                sit
                amet, consectetur adipisicing elit. Deserunt voluptate reiciendis tenetur accusamus laboriosam quam
                soluta ipsum veniam qui nisi,
                numquam eveniet perspiciatis doloribus? Pariatur eligendi iure libero ex deserunt. Lorem ipsum dolor
                sit
                amet, consectetur adipisicing elit. Deserunt voluptate reiciendis tenetur accusamus laboriosam quam
                soluta ipsum veniam qui nisi,
                numquam eveniet perspiciatis doloribus? Pariatur eligendi iure libero ex deserunt.
              </p>
            </section>
            <section class="p-2 row" style="display: flex;justify-content: center;margin-bottom: .8rem;">
              <div class="col-6">
                <button class="btn btn-success btn-block">
                  Donar
                </button>

              </div>
              <div class="col-6">

                <button class="btn btn-light btn-block">
                  Compartir
                </button>
              </div>
            </section>
            <h6 class="p-2">
              Organizador
            </h6>
            <hr class="m-0 mb-2">
            <section class="p-2" style="display: flex;
            flex-direction: row;
            justify-content: space-between;">
              <div style="display: flex;
              justify-content: space-between;
              align-items: baseline;">
                <div class="icon icon-sm icon-shape bg-gradient-pink shadow rounded-circle">
                  <i class="fa fa-heart " style="color: #dc3545 !important;"></i>
                </div>
                <span style="    margin-left: 0.5rem;
                text-align: center;
                display: flex;
                flex-flow: column;
                align-items: center;">
                  <p>Mariana Goméz</p>
                  <small>Miami, EEUU</small>
                </span>
              </div>
              <div>
                <button class="btn btn-success">Contacto</button>
              </div>
            </section>
            <h6 class="p-2 mt-2">
              Comentarios
            </h6>
            <hr class="m-0 mb-2">
            <section class="p-2" style="display: flex;
            flex-direction: row;
            justify-content: space-between;">
              <div style="display: flex;
              justify-content: space-between;
              align-items: baseline;">
                <div class="icon icon-sm icon-shape bg-gradient-pink shadow rounded-circle">
                  <i class="fa fa-heart " style="color: #dc3545 !important;"></i>
                </div>
                <span style="margin-left: 0.5rem;
                display: flex;
                flex-flow: column;">
                  <p><b>Luis Escobar donó $10</b></p>
                  <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quisquam porro ab, quasi,
                    tempora blanditiis laborum labori</small>
                </span>
              </div>

            </section>
          </div>
          <div class="col-lg-4 mb-lg-auto">
            <div class="">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-5">
                  <span style="display: flex;flex-direction: column;">
                    <p style="    font-size: small;
                    text-align: center;
                    font: -webkit-small-control;
                    font-variant-caps: all-petite-caps;">$166 recaudados del objetivo de $200</p>
                    <progressbar style="height: 16px;" max="200" [value]="166" type="success" [striped]="true"
                      [animate]="true"><i>$166 / $200</i>
                    </progressbar>
                  </span>
                  <div class="text-muted text-center mb-3">
                    <small>Lorem ipsum</small>
                  </div>
                  <div class="btn-wrapper text-center">
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon btn-block">
                      <span class="btn-inner--icon">
                        <i class="fa fa-heart"></i>
                      </span>
                      <span class="btn-inner--text">Donar</span>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon btn-block">
                      <span class="btn-inner--icon">
                        <i class="fa fa-share"></i>
                      </span>
                      <span class="btn-inner--text">Compartir</span>
                    </a>
                  </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <small>Lorem ipsum sjhjua</small>
                  </div>
                  <span style="display: flex;
                  flex-flow: row;
                  align-items: baseline;">
                    <div class="icon icon-sm icon-shape bg-gradient-pink shadow rounded-circle">
                      <i class="fa fa-heart " style="color: #dc3545 !important;"></i>
                    </div>
                    <p style="display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-left: 5px;">
                      <b>Marco Rubio</b>
                      <small>$40 hace 5hrs</small>
                    </p>
                  </span>
                  <hr class="m-2">
                  <span style="display: flex;
                  flex-flow: row;
                  align-items: baseline;">
                    <div class="icon icon-sm icon-shape bg-gradient-pink shadow rounded-circle">
                      <i class="fa fa-heart " style="color: #dc3545 !important;"></i>
                    </div>
                    <p style="display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-left: 5px;">
                      <b>Marco Rubio</b>
                      <small>$40 hace 5hrs</small>
                    </p>
                  </span>
                  <hr class="m-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

</main>
