<section class="section section-lg section-nucleo-icons pb-250" style="background-color: white !important;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Nuestros colaboradores</h2>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis inventore dolore laborum eveniet,
          sit culpa asperiores eum rem facilis ratione totam illum similique ipsa in quis veniam itaque! Dignissimos,
          rerum.
        </p>
        <div class="btn-wrapper">
          <a class="btn btn-primary text-white">Conviértete en un colaborador</a>
        </div>
      </div>
    </div>
    <div class="blur--hover">
      <a>
        <div class="icons-container blur-item mt-5" data-toggle="on-screen">
          <!-- Center -->
          <i> <img src="../../../assets/img/logo/Recurso 1.png" alt="" class="img-spa"></i>

          <!-- Right 1 -->
          <i><img src="../../../assets/img/theme/team-1-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-2-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-3-800x800.jpg" alt="" class="img-spa"></i>

          <!-- Right 2 -->
          <i><img src="../../../assets/img/theme/team-1-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-2-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-3-800x800.jpg" alt="" class="img-spa"></i>
          <!-- Left 1 -->
          <i><img src="../../../assets/img/theme/team-1-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-2-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-3-800x800.jpg" alt="" class="img-spa"></i>
          <!-- Left 2 -->
          <i><img src="../../../assets/img/theme/team-1-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-2-800x800.jpg" alt="" class="img-spa"></i>
          <i><img src="../../../assets/img/theme/team-3-800x800.jpg" alt="" class="img-spa"></i>
        </div>
        <span class="blur-hidden h5" style="text-align: center;
        color: #212529 !important;">Conoce a todos nuestros colabarodores, tú puedes ser parte de
          ellos.</span>
      </a>
    </div>
  </div>
</section>
