<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-6">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="row d-flex justify-content-center w-100" style="padding: 1.5rem;
              background: #ec588a;
              border: 1px solid white;
              border-radius: 17px;margin: 0;">
              <div class="col-8">
                <h3 style="text-align: center;
                color: white;
                font-variant: all-petite-caps;
                font-size: 1.5rem;
                font-weight: 700;margin-bottom: 0;">Search event by name</h3>
                <div class="card">
                  <div class="input-group">
                    <input [(ngModel)]="valor" type="text" class="form-control">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="search()">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <section class="section bg-secondary">
    <div class="container-fluid">
      <div class="row p-5" style="padding-top: 0 !important;">

        <button (click)="back()" class="btn btn-icon btn-3  btn-neutral btn-around" type="button">
          <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>

        </button>
      </div>
      <div class="row p-4">
        <div class="col-md-3 mb-3"
          *ngFor="let item of foodRunsData | filter:term | paginate: { itemsPerPage: 8, currentPage: p }">
          <div id="item" class="card bg-default shadow border-0" clickable *ngIf="item">
            <img [src]="environmentY+item.image" class="imL card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-Dblue">{{item.name}}</h4>
              <p class="lead text-italic text-Dblue">{{item.description}}</p>
              <p class="card-text font-weight-bold text-Dblue">Amount to raise: {{item.total | currency}}</p>
              <span *ngIf="item.status === 'open'" class="badge badge-pill badge-success text-uppercase">Open</span>
              <span *ngIf="item.status === 'closed'" class="badge badge-pill badge-danger text-uppercase">Closed</span>
              <button (click)="details(item.id)"
                class=" btn btn-icon btn-3 btn-outline-primary btn-around btn-sm btn-block mt-4" type="button">
                <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
                <span class="btn-inner--text">See details</span>
              </button>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="row">

        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </section>


</main>
