.row {

  // height: 25rem;

  img {
    width: 100%;
    height: 100%;
  }
}

span.cont {
  display: flex;
  justify-content: flex-end;
  left: 4rem;
  position: absolute;
  z-index: 111;
  width: 100%;
  top: -1rem;

  button {
    background: transparent;
    box-shadow: none;
    border: 0;
    color: white;
    font-size: 2rem;
    padding: 0;
  }
}

.sp1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 5px;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.sp2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;

  img {
    width: 2.5rem;
    height: 2.5rem;
  }

  p {
    font-size: small;
    padding: 1rem;
    padding-bottom: 0;
  }
}

a {
  color: gray;
  text-decoration: none !important;

  .glyphicon {
    transition: all .5s;

    &.ni-air-baloon {
      color: #e74c3c;
    }

    &.ni-air-baloon {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.iconsbtn {
  background: transparent;
  border: none;
  color: gray;
  margin: 0.5rem;
}

.red {
  color: red;
}

.grey {
  color: gray;
}

.imagen-para-archivo input {
  display: none;
}

.imageU {
  border-radius: 50% !important;
  width: 180px !important;
  max-width: 180px !important;
  height: 180px !important;
}

.addI {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dee2e6;
  flex-direction: column;

  .imgI {
    width: 5rem;
  }
}

.addPublic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  textarea {
    width: 80%;
    height: 10rem;
    max-height: 10rem;
  }

  span {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    width: 80%;

    button {}
  }
}

button:focus {
  outline: 1px dotted;
  outline: transparent;
}

textarea:focus {
  outline: 1px dotted;
  outline: transparent;
}

img:focus {
  outline: 1px dotted;
  outline: transparent;
}
