.section-shaped .shape-style-1.shape-default {
    background: linear-gradient(150deg, #cf3a9e 15%, #ff6240 70%, #fbaa4f 94%) !important;
}
#map {
    height: 500px;
    width: 100%;
   }
.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        font-variant: small-caps;
    }
    p{
        text-align: center;
    }
}
.float-imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}