<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Wonder Humans
                <span>The Product</span>
              </h1>
              <p class="lead  text-white">
                Wonder Humans is a technology platform
                designed to provide easy access to the homeless
                population within local communities.
                The platform allows its users to identify, interact
                with and offer support to those in need.
                The Wonder Humans beta is rolling out in Miami
                as its first market, to test and perfect the
                platform, allowing for seamless duplication in
                every city.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-bullet-list-67"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">What can you donate?</h6>
                  <p class="description mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ex
                    nostrum ipsum, distinctio eos provident ratione delectus expedita soluta.</p>
                  <!--  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div> -->
                  <a [routerLink]="['/landing']" class="btn btn-primary mt-4">Read more</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-app"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Sign up</h6>
                  <p class="description mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ex
                    nostrum ipsum, distinctio eos provident ratione delectus expedita soluta.</p>
                  <!--   <div>
                    <span class="badge badge-pill badge-warning">marketing</span>
                    <span class="badge badge-pill badge-warning">product</span>
                    <span class="badge badge-pill badge-warning">launch</span>
                  </div> -->
                  <a [routerLink]="['/register']" class="btn btn-warning mt-4">Sign up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--
  <section class="section section-lg">
    <div class="container">
      <div class="row ">
         <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Awesome features</h3>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> 
        <div class="col-12">
          
        </div>
      </div>
    </div>
  </section>-->
  <div #mapContainer id="map" class="section section-lg"></div>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img
              src="https://images.unsplash.com/photo-1519430044529-9a9a57177865?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=761&q=80"
              class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Our Mission</h4>
              <p class="lead text-italic text-white">To provide a technology platform that empowers WonderHumans all over the world to help end homelessness through financial donations and employment opportunities.</p>
            </blockquote>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>WHY?</h3>
            <p class="lead">To provide a technology platform that allows
              community members to make monetary
              contributions as gifts or in exchange for services
              rendered that meet the skill set and abilities of an
              individual in need.
              Empower anyone that wants to help to be a Wonder
              Humans and make a positive impact worldwide.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Together we can all be Wonder Humans.</h4>
              <!-- <p class="text-white">Totam necessitatibus incidunt ab amet odio iusto?</p> -->
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <!-- <h5 class="title text-success">Lorem Ipsum</h5> -->
                  <p>Provide support, resources and tools the homeless need in order to change their
                    current situation and reach their full potential as they re-enter society.
                    </p>
                  <!-- <a href="javascript:void(0)" class="text-success">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <!-- <h5 class="title text-success">Lorem Ipsum</h5> -->
                  <p>Provide a convenient and fully transparent solution.</p>
                  <!-- <a href="javascript:void(0)" class="text-success">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <!-- <h5 class="title text-success">Lorem Ipsum</h5> -->
                  <p>Provide support, resources and tools the homeless need in order to change their
                    current situation and reach their full potential as they re-enter society.
                    </p>
                  <!-- <a href="javascript:void(0)" class="text-success">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Lorem Ipsum</h5>
                  <p>Totam necessitatibus incidunt ab amet odio iusto?</p>
                  <a href="javascript:void(0)" class="text-warning">Learn more</a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">HOW?</h2>
          <p class="lead text-white">The Wonder Humans platform provides its users a means
            to identify those in need, as well as a way to interact daily
            and contribute as often as desired.
            Our Wonder Humans help in many ways, from helping to
            geo-tag those in need, creating profiles that highlight skill
            sets and tell their stories, to making financial contributions
            to help homeless community members get back on their
            feet and into more stable living conditions. </p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Kindness</h5>
          <p class="lead text-white">We empower Wonder Humans to give, impact,
            and change the lives of those in need, with the only
            expectation being a smile in return.</p>
          <p class="text-white mt-3"></p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Determination</h5>
          <p class="text-white mt-3">We work together with all supporters and
            participants in order to succeed and carry out the
            Wonder Humans mission.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Responsibility</h5>
          <p class="text-white mt-3">We create an impact and change lives by
            working together and following a proven tech-driven
            execution strategy paired with caring human touch.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Want to communicate with us?</h4>
              <p class="mt-0">Your project is very important to us.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome
            <span class="text-success">Design System for Angular?</span>
          </h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>